*{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-size: 400;
}

.container{
    width: 134rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.logo-container img{
    flex: 1;
    height: 60px;
    border-radius: 60px;
    object-fit: cover;
    margin-left: 40px;
    width: 100%;
}

@media(max-width: 530px){
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
    }
    .logo-container img{
        height: 60px;
        border-radius: 60px;
        object-fit: cover;
        margin-left: 0;
        width: 100%;
    }
}

.input-container{
    position: relative;
}

.input-container input{
    display: flex;
    flex: 1;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 5px;
    width: 500px;
}
.input-container input::placeholder{
    justify-content:flex-start;
}

.icono-search{
    position: absolute;
    height: 20px;
    right: 10px;
    top: 10px;
}

