.container-modal .modal-body {
    font-family: Arial;
    font-weight: bold;
    padding: 0;
}
.modal-dialog{
    width: 100rem;
}
.modal-body{
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.paragraph{
    margin-left: 10px;
    margin-right: 10px;
    white-space: normal;
    width: 700px;
}